{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    // "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    // "plugin:@typescript-eslint/recommended", 
    "prettier", 
    // "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "next": {
      "rootDir": "./"
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "no-debugger" :"warn",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    // https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/cognitive-complexity.md
    "sonarjs/cognitive-complexity": ["error", 20]
  }
}
