{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    // "react",
    "@typescript-eslint/eslint-plugin",
    "simple-import-sort",
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    // "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", 
    "prettier", 
    // "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "next": {
      "rootDir": "./"
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "no-debugger" :"warn",
    "@typescript-eslint/no-empty-function": "warn",
    // https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/cognitive-complexity.md
    "sonarjs/cognitive-complexity": ["error", 20],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    // "sort-imports": "error",
    "import/exports-last": "error",
    "import/order": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  }
}
